@import '../../styles/variables.scss';
@import '../../../public/fonts/calibri/calibri.scss';

.app-header__menu,
.css-k008qs {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  max-width: 1220px;
  text-transform: uppercase;

  &_link {
    .app-header__menu_item {
      font-family: 'Calibri';
      font-weight: bold;
      font-size: 18px;
      color: $primary-graphite;

      &:hover,
      &:focus {
        color: $active-pink;
      }
    }
  }
}

//Reseting default styles
.css-heg063-MuiTabs-flexContainer {
  justify-content: space-between;
}