@import '../../styles/variables.scss';
@import '../../styles/normalizer.scss';

.app-cart-icon,
.app-delivery-icon {
  stroke: $primary-graphite;
  stroke-width: 1.5px;
}

.app-header-actions {
  margin-top: 23px;

  &_button {
    height: 60px;
    padding: 0;
  }

  &_text {
    font-style: italic;
    line-height: 1;
    margin: 0;

    &-stretched {
      letter-spacing: 5.7px;
    }
  }

}

.app-cart-icon {
  stroke: $primary-dark_grey;
}

.app-header-actions_button:hover {
  .app-cart-icon {
    stroke: $active-peach;
  }
}