* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

//TODO All reseting styles should be moved here
.css-9a6nw-MuiTypography-root {
  line-height: unset;
  font-family: unset;
}