//Main interface 
$primary-black: #000;
$primary-graphite: #272f38;
$primary-white: #ffffff;
$primary-light_grey: #dde0df;
$primary-dark_grey: #525252;
$active-pink: #dfa2d7;
$icon-blue: #0383c7;
$icon-green: #3ac050;
$icon-purple: #7f4ca0;