@import "../../styles/variables.scss";

.app {
  &-middle-bar {
    padding: 10px 0 22px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    background-color: $primary-white;
  }
}