@import "../../styles/variables.scss";

.app-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;

  &_caption {
    font-family: "Arial";
    color: $primary-white;
    font-size: 32px;
    display: inline-block;
    max-width: 600px;
    text-align: center;
  }

  &__right {
    width: 70%;
    height: 100%;
  }

  &__left {
    width: 30%;
    height: 100%;
    background-color: $active-pink;
  }

  &_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}